<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>CreatePost</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <form action="/action_page.php" method="post">
        <input type="text" name="subgroup" placeholder="Subgroup" id="s" required>
        <input type="text" name="title" placeholder="Post Title" required>
        <input type="text" name="link" placeholder="Link">
        <input type="submit" value="Submit">
        <script> origin = new URLSearchParams(window.location.search);
        (origin.has("sub"))? document.getElementById("s").defaultValue = origin.get("sub"):'';</script>
      </form>
    </main>
  </body>
</html>
